*{
    margin: 0;
}


.container{
    width: 100%;
    height: 48vh;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

button{
    border: none;
    width: 150px;
    background-color: rgb(67, 111, 192);
    padding: 10px;
}


form{
width:600px;
background-color: cyan;
}

.input-container{
    width: 100%;
    padding: 10px;
    margin: 10px 0; 
}

.input-field{
    width: 220px;
    padding: 6px 0;
    margin: 0 30px;
}

input , select{
    border: none;
    border-radius: 2px;
}

input:focus{
    border-color: darkgrey;
}

a{
    text-decoration: none;
    padding: 0 10px;
    font-family: 'Courier New', Courier, monospace  ;
    font: 22px;
    text-align: center;
}

#form3{
height: 350px;
}


h4{
    text-align: center;
    font-size: 18px;
    font-family: Helvetica , sans-serif;
}